@font-face {
    font-family: poppins-italic;
    src: url(../fonts/Poppins/Poppins-LightItalic.ttf);
  }
  @font-face {
    font-family: poppins-light;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
  }

  @import "global";
  @import "form";
  @import "todolist";